:root {
    --primary-dark: #333;
    --primary-light: #ededed;
    --secondary-light: #fefefe;
}

* {
    margin: 0%;
    padding: 0%;
}

@font-face {
    font-family: 'digital-font';
    src: url(font/digital-7.ttf);
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--primary-light);
    font-family: 'Roboto', sans-serif;
    color: var(--primary-dark);
    text-align: center;
    justify-content: center;
    align-items: center;
}

input, select, button {
    font-family: inherit;
    font-size: inherit;
    border-radius: 10px;
    border: #333 2px solid;
}

button:hover {
    background-color: #d5d5d5;
    transition: .3s;
}

button:active {
    transform: scale(90%);
    transition: .1s;
    background-color: #bdbdbd;
}

.delete:hover {
    background-color: #eb4c42;
}

.delete:active {
    background-color: #bc3c34;
}

.clear:hover {
    background-color: #00cc99;    
}

.clear:active {
    background-color: #00a37a;
}



.content {
    flex: 1;
    display: flex;
    margin-top: auto;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    max-height: 600px;
    border: #333 2px solid;
    border-radius: 10px;
    gap: 10px;
    padding: 30px;
}

.row {
    display: flex;
    gap: 10px;
}

.topRow {
    display: flex;
    gap: 10px
}

.spacing {
    flex: 1;
}

.delete {
    flex: 6;
    background-color: #ef6f67;
}

.clear {
    flex: 6;
    background-color: #66e0c1;
}

.power {
    flex: 4;
    max-width: 92.5px;
}

.display {
    border: #333 2px solid;
    border-radius: 10px;
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: end;
    font-family: 'digital-font';
    font-size: 4vw;
    white-space: nowrap;
    overflow: hidden;
}

.exponent {
    position: relative;
    bottom: 1ex;
    font-size: 80%;
}

.footer {
    margin-top: auto;
    margin-bottom: 10px;
}

